In [8]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [9]:
tsv_file_path = '/content/drive/My Drive/gap-test.tsv'

In [5]:
pip install language_tool_python

Collecting language_tool_python
  Downloading language_tool_python-2.7.1-py3-none-any.whl (34 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from language_tool_python) (2.31.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from language_tool_python) (4.66.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->language_tool_python) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->language_tool_python) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->language_tool_python) (2.0.6)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->language_tool_python) (2023.7.22)
Installing collected packages: language_tool_python
Successfully installed language_tool_python-2.7.1

In [10]:
import pandas as pd
import spacy
from language_tool_python import LanguageTool



df = pd.read_csv(tsv_file_path, sep='\t', header=0, encoding='utf-8')

In [11]:



nlp = spacy.load("en_core_web_sm")

# to check grammar
tool = LanguageTool('en-US')

# this use of spaces aims to avoid wrongful replacements within other words, and
# to take into account capiatalisation
replacements = {
    "She ": "They ",
    " she": " they",
    " he": " they",
    "He ": "They ",
    "Her ": "Their ",
    " her": " their",
    " him": " them",
    "Him ": "Them ",
    " herself": " themself",
    " himself": " themself",
    "His": "Theirs",
    "Hers ": "Theirs ",
    " his": " theirs",
    " hers": " theirs"
}

# iterate over 'Text' column
for index, row in df.iterrows():
    sentence = row['Text']

    # do the replacements
    modified_sentence = sentence
    for key, value in replacements.items():
        modified_sentence = modified_sentence.replace(key, value)

    # grammar check on the modified sentence
    corrected_text = tool.correct(modified_sentence)

    # update 'Text' column with new version
    df.at[index, 'Text'] = corrected_text

print(df)

             ID                                               Text Pronoun  \
0        test-1  Upon their acceptance into the Continental Hoc...     His
1        test-2  Between the years 1979-1981, River won four lo...     him
2        test-3  Though theirs emigration from the country has ...      He
3        test-4  At the trial, Ricotta said: ``Those who have m...     his
4        test-5  It is about a pair of United States Navy shore...     his
...         ...                                                ...     ...
1995  test-1996  The sole exception was Wimbledon, where they p...     She
1996  test-1997  According to news reports, both Moore and Flaw...     her
1997  test-1998  In June 2009, due to the popularity of the Sab...     She
1998  test-1999  They are delivered to the Norwegian passenger ...     she
1999  test-2000  Meg and Vicky each have three siblings, and ha...     her

      Pronoun-offset                   A  A-offset  A-coref  \
0                383           Bob Suter       352    False
1                430              Alonso       353     True
2                312        Ali Aladhadh       256     True
3                526             Alliata       377    False
4                406               Eddie       421     True
...              ...                 ...       ...      ...
1995             479    Goolagong Cawley       400     True
1996             338  Esther Sheryl Wood       263     True
1997             328               Kayla       364     True
1998             305                Irma       255     True
1999             275        Vicky Austin       217     True

                       B  B-offset  B-coref  \
0                 Dehner       366     True
1     Alfredo Di St*fano       390    False
2                 Saddam       295    False
3              Pisciotta       536     True
4            Rock Reilly       559    False
...                  ...       ...      ...
1995        Peggy Michel       432    False
1996      Barbara Morgan       404    False
1997  Natasha Henstridge       412    False
1998              Bergen       274    False
1999       Polly O'Keefe       260    False

                                                    URL
0            http://en.wikipedia.org/wiki/Jeremy_Dehner
1          http://en.wikipedia.org/wiki/Norberto_Alonso
2                 http://en.wikipedia.org/wiki/Aladhadh
3        http://en.wikipedia.org/wiki/Gaspare_Pisciotta
4                  http://en.wikipedia.org/wiki/Chasers
...                                                 ...
1995  http://en.wikipedia.org/wiki/Evonne_Goolagong_...
1996  http://en.wikipedia.org/wiki/Hastings_Arthur_Wise
1997          http://en.wikipedia.org/wiki/Raya_Meddine
1998        http://en.wikipedia.org/wiki/SS_Irma_(1905)
1999          http://en.wikipedia.org/wiki/Vicky_Austin

[2000 rows x 11 columns]

In [273]:

file_path = "/content/drive/My Drive/GAP/test-GAP-NB.tsv"
df.to_csv(file_path, sep='\t', index=False)

In [230]:
# replacements = {
#     " She": " They",
#     " she": " they",
#     " he": " They",
#     " He": " They",
#     " Her": " Their",
#     " her": " their",
#     " him": " them",
#     " Him": " Them",
#     " herself": " themself",
#     " himself": " themself",
#     " His": " Theirs",
#     " Hers": " Theirs",
#     " his": " theirs",
#     " hers": " theirs"
# }


# for index, row in df.iterrows():
#     sentence = row['Text']


#     modified_sentence = sentence
#     for key, value in replacements.items():
#         modified_sentence = modified_sentence.replace(key, value)

#     df.at[index, 'Text'] = modified_sentence

In [231]:
# print(df['Text'])

0      They admitted making four trips to China and p...
1      Kathleen Nott was born in Camberwell, London. ...
2      WTheyn tTheyy returns to Theyr hotel room, a L...
3      On 19 March 2007, during a campaign appearance...
4      By ttheirs time, Karen Blixen had separated fr...
                             ...
449    They tTheyn agrees to name tThey gargoyle Gold...
450    Disgusted with tThey family's ``mendacity'', B...
451    TTheyy manipulates Michael into giving Theyr c...
452    On April 4, 1986, Donal Theynahan wrote in tTh...
453    Pleasant explains Vassey's guilty conscience m...
Name: Text, Length: 454, dtype: object

In [ ]:


# nlp = spacy.load("en_core_web_sm")

# doc = nlp("He eat the pizza.")
# for token in doc:
#     if token.dep_ == "nsubj" and token.head.pos_ == "VERB":
#         print(f"Pronoun '{token.text}' should agree with the verb '{token.head.text}'.")

# tool = LanguageTool('en-US')
# text = "After seeing an image of Venus, Vulcan, and Cupid, they deduces that it is a temple to Venus. Chaucer explores the temple until they finds a brass tablet recounting the Aeneid. Chaucer goes into much further detail during the story of Aeneas's betrayal of Dido, after which they lists other women in Greek mythology who were betrayed by their lovers, which led to their deaths."
# corrected_text = tool.correct(text)